<footer class="col-md-12">
	<div class="row">
		<div class="container-fluid mid">
			<div class="row bar mid">
				<div class="col-md-10">
				</div>
				<div class="col-md-2">
					<div class="derecha">
						<a href="https://www.facebook.com/librerianacional" target="_blank" class="social"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
						<a href="https://www.instagram.com/librerianacional/" target="_blank" class="social"><i class="fa fa-instagram" aria-hidden="true"></i></a>
						<a href="https://twitter.com/Lib_Nacional" target="_blank" class="social"><i class="fa fa-twitter" aria-hidden="true"></i></a>
					</div>
				</div>
			</div>
		</div>
		<div class="container-fluid footer-azul">
			<div class="row">
				<div class="col-md-4">
					<p class="text text--gris text--md margin--t1 margin--b05 mg-left">Mapa del sitio</p>
					<hr class="sep sep--rojo sep--marg1">
					<ul class="text--gris">
						<li><a routerLink="/">Inicio</a></li>
						<li><a routerLink="#">Libros</a></li>
						<li><a routerLink="#">Promociones</a></li>
						<li><a routerLink="#">Nuestras Librerias</a></li>
						<li><a routerLink="#">Eventos</a></li>
					</ul>	
				</div>
				<div class="col-md-4">
					<p class="text text--gris text--md margin--t1 margin--b05 mg-left">Servicio al cliente</p>
					<hr class="sep sep--rojo sep--marg1">
					<ul class="text--gris">
						<li><a routerLink="#">Consulta tus transacciones</a></li>
						<li><a routerLink="#">Politicas de datos personales</a></li>
					</ul>	
				</div>
				<div class="col-md-4">
					<p class="text text--gris text--md margin--t1 margin--b05 mg-left">Métodos de pago</p>
					<hr class="sep sep--rojo sep--marg1">
					<img src="/assets/images/formas-pago1.png" alt="" class="img-responsive pull-center margin--t1">
					<div class="clearfix"></div>
					<div class="clearfix"></div>
					<img style="margin-left:50px;" src="/assets/images/formas-pago2.png" alt="" class="img-responsive pull-center">
				</div>
			</div>
		</div>
		<div class="container-fluid footer-rojo"></div>
	</div>
</footer>
