<app-header></app-header>
<div class="container cuerpo" style="margin-bottom: 20px;margin-top: 20px;">
	<div class="text-center" style="margin-top: 50px;">
		<h1><i class="fa fa-shield" aria-hidden="true"></i> Bienvenido al administrador</h1>
	</div>
	<div class="row" style="margin-top: 50px;">
		<div class="col-sm-3 text-center" style="display: inline-block;">
			<a routerLink="addBook" class="btn btn-ico1 btn-ico1--verde">Agregar Libro</a>
		</div>
		<div class="verticalLine col-sm-3 text-center" style="display: inline-block;">
			<a routerLink="addAutor" class="btn btn-ico1 btn-ico1--verde">Agregar Autor</a>
		</div>
		<div class="verticalLine col-sm-3 text-center" style="display: inline-block;">
			<a routerLink="#" class="btn btn-ico1 btn-ico1--verde">Actualizar Libro</a>
		</div>
		<div class="verticalLine col-sm-3 text-center" style="display: inline-block;">
			<a routerLink="#" class="btn btn-ico1 btn-ico1--verde">Más vendidos</a>
		</div>
	</div>
</div>
<app-footer></app-footer>